
.navbar {
	background-color: white;
	height: 52px;
}

.homepage {
	display: inline-block;
	background-color: lightseagreen;
	color: white;
	padding: 5px;
	font-size: 28px;
	position: fixed;
	left: 10px;
	top: 0px;
}

.controls {
	display: inline-block;
	color: lightseagreen;
	border-radius: 4px;
	padding: 5px;
	text-align: center;
}

.navcontrol {
	position: fixed;
	right: 10px;
	top: 8px;
}

a {
	color: lightseagreen;
}

.plots {
	color: lightseagreen;
	border-color: white;
}

body {
	background-color: lightgray;
}