h1 {
	color: lightseagreen;
	padding: 5px;
	font-size: 12px;
	position: fixed;
}
h2 {
	color: lightseagreen;
}

body {
	background-color: lightgrey;
}

.navbar {
	color: lightseagreen;
	background-color: white;
	text-align: right;
	padding: 10px;
}

.col-md-8 {
	background-color: white;
	padding: 20px;
}

.col-md-4 {
	background-color: white;
}

.col-md-2 {
	background-color: white;
}